[Unit]
Description=Homepage
After=network.target

[Service]
Type=simple
WorkingDirectory=/mnt/m2/home/projects/damiansimon.com
ExecStart=/usr/bin/python3 -m http.server 8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
