html {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    font-size: min(2.6vw, 0.8em);
}

h1 {
    margin-bottom: 0em;
}

#links {
    line-height: 1.3;
}

#links a {
    color: #2525d8; 
}
