html {
    color: rgb(51, 51, 46);
    font-family: "Courier"
}

pre {
    font-size: min(2.6vw, 0.8em);
}

h1 {
    margin-bottom: 0em;
}

#links {
    line-height: 1.3;
}

#links a {
    color: #2525d8; 
}
