#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 38em;
    max-width: 100%;
    background-color: aliceblue;
    margin-bottom: 8px;
    
    aspect-ratio: 3/2;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.photo img {
    width: 100%;
    vertical-align: middle; 

}